
.table {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.header {
  border: 1px solid red;
  padding: 15px;
}

.box {
  flex-grow: 0.25;
  border: 1px solid red;
    
}

@media (max-width: 720px) {
  .box {
    width: calc(50% - 2px)
  }
}

@media (max-width: 360px) {
  .box {
    width: calc(100% - 2px)
  }
}

h1 {

}